*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

.cabecalho
{
	width: 100%;
	height: 80px;
	background-color: #a6bbcc;
	margin: 0px:;
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.logocabecalho{
	font-size:50px;
	text-decoration:none;
	display:flex;
	padding:5px 5px 5px 5px;
	padding-left: 20px;

}
.menu{
	background:#a6bbcc;
	text-align: center;
}
.menu ul li, 
.menu ul{
	margin:0;
	padding:0;
	list-style:none;
}
.menu ul li{
	display:inline-block;
	}
.menu ul li a{
	display:block;
	color:#fff;
	padding:13px 20px;
	font-size: 20px;
	text-decoration: none;
}

.menu li {
	
	.
	position:relative; 
	line-height:auto ;
	padding:0 10px;
	margin-right:30px;
}
.menu li .colunas {
	position:absolute; 
	left:-9999px; 
	padding:10px 4px 10px 20px;
	border-top:none;
	background:#a6bbcc;
	width: 500px;
}
.menu li:hover .colunas{
	left:0;
}
.menu li ul.col{
	display:inline;
	float: left;
	position: relative;
	padding:0;
	margin:0 0 12px 0;
	width:33.33%;
}
.menu li ul.col li {
	margin:0 0 0px 0;
	padding:2px 6px;
	width:85%;
	list-style-type:none;
	font-size:12px;
	height:100%;
	position:relative;
	float:none;
}
.menu li .col li:hover {
	padding:2px 6px;
	margin:0 0 10px 0;
	background: #b4c4d4;
	
}
.menu li .col span{
	font-size:12px;
	color:#fff;
	font-weight:bold;
}
.menu li .col li a{
	font-size:12px;
	color:#fff;
}
.carrinho{
	font-size: 20px;
	display: flex;
	position: relative;
	left: 1200px;
	top: -85px;

}

.pesquisa{
	text-align: center;
	position: relative;
	top: -100px;
	

}

#inputBarraBusca{
	width: 500px;
	height: 35px;
	border-radius: 0.2em;
	border:none;
	outline: none;

}
#inputBotaoPesquisar{
	height: 35px;
	width: 35px;
	cursor: pointer;
	border-radius: 0.2em;
	border:none;
	color: black;
	

}



form{
	width: 50%;
	margin: 0 auto;
	display: inline-block;
	position: relative;
}
.container{

	box-shadow: 0 4px 8px #999;
	border-radius: 1em;
	text-align: center;
	position: relative;
	width: 500px;
	height: 1185px;
	padding: 2rem;
	margin: auto;
	margin-bottom: 2em;
	margin-top: 2em;
}
.form{

}
.form input{
	width: 100%;
	padding: 10px;
	margin-bottom: 1em;
	font-size: 1em;
	font-family: 'Lato', sans-serif;
	outline: none;
	border-style: solid;
	border-radius: 0.4em;
}
h1{
 color: #a6bbcc;;
 margin-bottom:20px;
}

input[type="submit"]{
	background-color:  #a6bbcc;
	cursor: pointer;
	color:#fff;
	border: 1px solid #fff;
	-webkit-border-radius: 5px;
  	border-radius: 5px;
  	width: 50%;
}
input[type="submit"]:hover{
  background: #808080;
}
label{
  font-weight: bold;
  position: relative;
  float: left;
  font-family: 'Lato', sans-serif;
  margin-bottom: 5px;
  display: inline-block;
}
input[type='checkbox']{
	cursor: pointer;
	float: left;

}
.form p{
	font-weight: bold;
	font-family: 'Lato', sans-serif;
}
select{
	width: 100%;
	padding: 10px;
	margin-bottom: 1em;
	font-size: 1em;
	font-family: 'Lato', sans-serif;
	outline: none;
	border-style: solid;
	border-radius: 0.4em;
	cursor: pointer;
}
.footer{
	margin-top: auto;
	background-color: #a6bbcc;
	color: #fff;
	height: 80px;
	align-items: center;
}
.footer ul li,
.footer ul{
	margin-top: 5px;
	list-style:none;
}
.footer ul li{
display:inline-block;
padding: 0 35px;
}
.footer ul li a{
	display:block;
	color: #fff;
	padding:0px;
	text-decoration: none;
}